<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 - 목록</title>
    <script type="text/javascript">
        function goPage(){
            var input = prompt("Password"+"");
            if(input == "0808") location.href = "/board/post";
            else {
                alert('Wrong Password');
                location.href = "/board";
            }
        }
    </script>
    <link rel='stylesheet' href='/webjars/bootstrap/4.5.0/css/bootstrap.min.css'>
    <link href="../static/css/createview.css" th:href="@{/css/createview.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script type="text/javascript" th:src="@{/reactive.js}" defer></script>
</head>
<body>
<nav class="nav_bar">
    <div class="nav_left">
        <a href="../../index.html"><img th:src="@{../../imgs/RICE_LOGO.png}" class="logo"></a>
        <a href="../../index.html"><div class="logo_word">INHA RICE</div></a>
    </div>
    <div class="nav_right">
        <a href="../../products"><button class="nav_menu dd1">물품 현황</button></a>
        <a href="../../demerit/view"><button class="nav_menu dd2">벌점 개별조회</button></a>
        <a href="/demerit/check"><button class="nav_menu dd3">벌점 관리</button></a>
        <a href="../../calender.html"><button class="nav_menu dd4">캘린더</button></a>
        <a href="../../board"><button class="nav_menu dd5">공지사항</button></a>
        <a href="#"><button class="nav_menu dd6">사물함</button></a>
    </div>
    <a href="#" class="navbar__toggleBtn">
        <i class="fas fa-bars"></i>
    </a>
    <div></div>
</nav>
<header th:insert="common/header.html"></header>
<div class="container">
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">작성일</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="post : ${postList}">
            <th scope="row">
                <span th:text="${post.id}"></span>
            </th>
            <td>
                <a th:href="@{'/board/post/' + ${post.id}}">
                    <span th:text="${post.title}"></span>
                </a>
            </td>
            <td>
                <span th:text="${post.author}"></span>
            </td>
            <td>
                <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
            </td>
            <!-- <td>
                <a th:href="@{'/board/post/' + ${post.id}}">  </a>
            </td> -->
        </tr>
        </tbody>
    </table>
    <div style="text-align: end;">
        <a style="color:#fff; background: cornflowerblue;
         display: inline-block; margin-top: 20px; margin-left: 10px; 
         padding: 5px 10px; border-radius: 4px; font-size: 16px; "
            href="javascript:goPage()" >글쓰기</a><br/>
    </div>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>