body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_left {
    display: flex;
    align-items: center;
}

.nav_right {
    display: flex;
    list-style: none;
}

.fas {
    font-size: 20px;
}

.logo {
    width: 45px;
}

.logo_word {
    font-size: 27px;
    font-weight: bold;
    color: gray;
    padding-left: 7px;
}

.nav_menu {
    min-width: 138px;
    text-align: center;
    border: none;
    padding: 21px 0;
    background-color: white;
}
.nav_menu:hover {
    border-radius: 4px;
    background-color: skyblue;
}

.dropdown1 {
    width: 138px;
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 60px;
    display: none;
}

.dropdown1 a {
    padding: 17px 55px;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.dd1:hover .dropdown1 {
    display: block;
}

.dropdown1 a:hover {
    border-radius: 4px;
    background-color: skyblue;
}

.dropdown2 {
    width: 138px;
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 60px;
    display: none;
}

.dropdown2 a {
    padding: 17px 55px;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.dd2:hover .dropdown2 {
    display: block;
}

.dropdown2 a:hover {
    border-radius: 4px;
    background-color: skyblue;
}

.dropdown3 {
    width: 138px;
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 60px;
    display: none;
}

.dropdown3 a {
    padding: 17px 55px;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.dd3:hover .dropdown3 {
    display: block;
}

.dropdown3 a:hover {
    border-radius: 4px;
    background-color: skyblue;
}

.dropdown4 {
    width: 138px;
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 60px;
    display: none;
}

.dropdown4 a {
    padding: 17px 55px;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.dd4:hover .dropdown4 {
    display: block;
}

.dropdown4 a:hover {
    border-radius: 4px;
    background-color: skyblue;
}

.dropdown5 {
    width: 138px;
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 60px;
    display: none;
}

.dropdown5 a {
    padding: 17px 55px;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.dd5:hover .dropdown5 {
    display: block;
}

.dropdown5 a:hover {
    border-radius: 4px;
    background-color: skyblue;
}

.dropdown6 {
    width: 138px;
    z-index: 1;
    position: absolute;
    background-color: white;
    top: 60px;
    display: none;
}

.dropdown6 a {
    padding: 17px 55px;
    line-height: 50px;
    text-decoration: none;
    color: black;
}

.dd6:hover .dropdown6 {
    display: block;
}

.dropdown6 a:hover {
    border-radius: 4px;
    background-color: skyblue;
}

.navbar__toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

main {
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boxspace {
    margin-top: 20px;
    height: 738px;
    width: 70%;
    background-color: white;
}

.emptyspace {
    height: 100px;
    width: 100%;
    background-color: rgb(241, 241, 241);
}

.footer1 {
    height: 150px;
}

#footer_logo {
    border-bottom: 2px solid #e4e4e4;
    display: flex;
    margin-bottom: 25px;
}

#school_logo {
    width: 200px;
}

.student_council {
    font-size: 20px;
    color: #d2d2d2;
    font-weight: bold;
    margin-left: 7px;
}

.rise_sns {
    font-size: 12px;
}

.fa-facebook, .fa-instagram {
    font-size: 40px;
    color: black;
    position: absolute;
    right: 9px;
}

.fa-instagram {
    right: 60px;
}

.navbar__toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}
.nav_right.active{
    display: flex;
}
.footer_text{
    display: flex;
}
.icons{
    list-style: none;
}

@media screen and (max-width: 1050px){
    .nav_bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .nav_right{
        display:none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;
    }
    .nav_menu{
        width: 100%;
        text-align: center;
    }
    .nav_left{
        /* display:none; */
        justify-content: center;
        padding-left: 0;
        width: 100%;
    }
    .dropdown_menu{
        display: none;
    }
    .navbar__toggleBtn{
        display: block;
    }
    .nav_right.active{
        display: flex;
    }
    .icons{
        display:none;
    }
}