body {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_left {
    display: flex;
    align-items: center;
}

.nav_right {
    display: flex;
    list-style: none;
}

.fas {
    font-size: 20px;
}

.logo {
    width: 45px;
}

.logo_word {
    font-size: 27px;
    font-weight: bold;
    color: gray;
    padding-left: 7px;
}

.nav_menu {
    min-width: 138px;
    text-align: center;
    border: none;
    padding: 21px 0;
    background-color: white;
}
.nav_menu:hover {
    border-radius: 4px;
    background-color: skyblue;
}

.navbar__toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}

main {
    width: 100%;
    background-color: rgb(241, 241, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rentalspace {
    display: flex;
    width: 70%;
}

.boxspace {
    margin-top: 20px;
    display: flex;
    align-items: center;
    height: 500px;
    width: 70%;
    background-color: white;
    width: 420px;
    flex: 2;
}

.reservation_box {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
}

#photo {
    width: 200px;
    height: 300px;
    background-color: skyblue;
}

#photo_right {
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: space-evenly;
}
/* 여기부터 */
table{
    border-collapse: collapse;
}
caption{
    display: none;
}

.time,.reser_name{
    padding: 10px;
    border: solid 1px;
}
.board_list {
    width: 100%;
    border-top: 2px solid navy;
}
.board_list tr{
    /* 카테고리 말고 내용(행 한줄)들 선택 */
    border-bottom: 1px solid #999;
}
.board_list th,
.board_list td {
    /* 표 전체 선택 */
    padding: 3px;
    /* font-size: 0; */
}
.board_list td {
    /* 변수들 각각 선택 */
    text-align: center;
}
/* 여기까지 예약자 테이블 속성 */

#input {
    height: 45px;
}

#hour {
    height: 45px;
}

#minute {
    height: 45px;
}

#button {
    height: 45px;
}

.rental-list {
    margin-top: 20px;
}

#ul {
    padding-left: 0;
    border: 1px solid gainsboro;
    background-color: white;
    margin-left: 12px;
    margin-top: 0;
    border-top: none;
}

.li {
    list-style: none;
    padding: 8px 0;
    text-align: center;
    border-top: 1px solid gainsboro;
}

.emptyspace {
    height: 100px;
    width: 100%;
    background-color: rgb(241, 241, 241);
}

.footer1 {
    height: 150px;
}

#footer_logo {
    border-bottom: 2px solid #e4e4e4;
    display: flex;
    margin-bottom: 25px;
}

#school_logo {
    width: 200px;
}

.student_council {
    font-size: 20px;
    color: #d2d2d2;
    font-weight: bold;
    margin-left: 7px;
}

.rise_sns {
    font-size: 12px;
}

.fa-facebook, .fa-instagram {
    font-size: 40px;
    color: black;
    position: absolute;
    right: 9px;
}

.fa-instagram {
    right: 60px;
}

.navbar__toggleBtn{
    display: none;
    position: absolute;
    right: 32px;
    font-size: 24px;
}
.nav_right.active{
    display: flex;
}
.footer_text{
    display: flex;
}
.icons{
    list-style: none;
}



@media screen and (max-width: 1050px){
    .nav_bar {
        flex-direction: column;
        align-items: flex-start;
        padding: 8px 24px;
    }
    .nav_right{
        display:none;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-left: 0;
    }
    .nav_menu{
        width: 100%;
        text-align: center;
    }
    .nav_left{
        /* display:none; */
        justify-content: center;
        padding-left: 0;
        width: 100%;
    }
    .dropdown_menu{
        display: none;
    }
    .navbar__toggleBtn{
        display: block;
    }
    .nav_right.active{
        display: flex;
    }
    .icons{
        display:none;
    }
}